body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* header section starts here  */
nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 38px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.logo-color {
    color: #FF42A5;
}

.menus ul {
    display: flex;
    align-items: center;
}

.menus ul li {
    list-style: none;
    margin-right: 32px;
}

.menus ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-li {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 24px 18px;
}

.follow-text {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.fa-youtube {
    color: red;
    margin: 0px 18px;
}

/* banner section starts  */

.banner {
    background-image: url('../images/group14.png');
    background-repeat: no-repeat;
}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-logo {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase
}

.banner-item li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    margin-top: 17px;
}

.banner-item-list {
    margin-left: 16px;
}

.btn-container {
    margin-top: 41px;
}

.btn-primary {
    background-color: #FF42A5;
    border-radius: 48px;
    padding: 21px 40px;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
    margin-right: 24px;
}

.btn-secondary {
    background-color: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
}

/* main section  */

.funny-videos {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}

.section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: #534C64;
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

.funny-videos-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-videos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

}



.funny-videos-img {
    max-width: 342px;
    position: relative;
}

.funny-videos-img img {
    width: 100%;
    height: auto;
    display: block;
}

.funny-videos-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
}

.funny-videos-img:hover::before {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Adjust the background color and opacity as needed */
    color: white;
    /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.funny-videos-img:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 24px;
    /* Adjust the icon size as needed */
}

.overlay p {
    margin-top: 10px;
    /* Adjust the spacing between the icon and text */
}


.caption {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}